@inherits System.Web.Mvc.WebViewPage<Vug.Models.NewsLanding>
<?xml version="1.0" encoding="ISO-8859-1"?>
<news>
    <title>@Model.Title</title>
    <articles count="@Model.Articles.Count()">
        @foreach (var article in Model.Articles)
        {
            <article>
                <title>@article.Title</title>
                <im<a href="NewsLandingXml.cshtml">NewsLandingXml.cshtml</a>age>@article.FeaturedImage.Src</image>
                <content>@article.MainBody</content>
                <date>@article.Date</date>
            </article>
        }
    </articles>
</news>